body {
     font-family: Hack, monospace; 
     margin: 0px;
}
button {
     font-family: Hack, monospace; 
}

.sidebar-button{
     transform: scale(0.9);
     transition:  0.3s ease-in;
}

.sidebar-button:hover{
     transition:  0.2s ease-in;
     transform: scale(1.0);
}

.editor-particle{
   background:white; 
   cursor: pointer; 
   transition: 0.4s linear;
   transition-delay: 0.5s;
}

.editor-particle:hover{
     animation: rainbow-bg 5s linear;
     animation-iteration-count: infinite;
     transition: 0.2s ease;
     
  }


@keyframes rainbow-bg{
     100%,0%{
          background-color: #FFB5E8;
     }
     8%{
          background-color:  #FF9CEE;
     }
     16%{
          background-color: #B28DFF;
     }
     25%{
          background-color: #A79AFF;
     }
     33%{
          background-color: #FFBEBC;
     }
     41%{
          background-color: #FFCBC1; 
     }
     50%{
          background-color: #E7FFAC;
     }
     58%{
          background-color: #FFF5BA;
     }
     66%{
          background-color: #DCD3FF;
     }
     75%{
          background-color: #D5AAFF;
     }
     83%{
          background-color: #ACE7FF;
     }
     91%{
          background-color: #C5A3FF;
     }
}
