body {
     font-family: Hack, monospace; 
     margin: 0px;
}
button {
     font-family: Hack, monospace; 
}

.sidebar-button{
     transform: scale(0.9);
     transition:  0.3s ease-in;
}

.sidebar-button:hover{
     transition:  0.2s ease-in;
     transform: scale(1.0);
}

.editor-particle{
   background:white; 
   cursor: pointer; 
   transition: 0.4s linear;
   transition-delay: 0.5s;
}

.editor-particle:hover{
     background:  red;
     transition: 0.2s ease;
     
  }
