body {
     font-family: Hack, monospace; 
     margin: 0px;
}
button {
     font-family: Hack, monospace; 
}


.component-wrapper:hover > .component-menu{
     visibility: visible;
     opacity: 1;
     transition: 0.3s;  
}

.component-menu-button{
     cursor: pointer;
}

.component-menu {
     position: absolute;
     top: -10px;
     z-index: 1000;
     right: 0;
     visibility: hidden;     
     opacity: 0;
     transition: 0.3s;  
     pointer-events: auto;
     display: flex;
}

.sidebar-button{
     transform: scale(0.9);
     transition:  0.3s ease-in;
}

.sidebar-button:hover{
     transition:  0.2s ease-in;
     transform: scale(1.0);
}


.wizard-component {
     background: #666;
     color: #FFF;
     cursor: pointer;
     padding: 5px;
     border-radius: 5px;
     margin-bottom: 5px;
     font-weight: bold;
    
     transform: scale(0.98);
     transition: 0.2s ease-out transition;

}

.wizard-component:hover {
     transition: 0.2s ease-in transition;
     transform: scale(1);
}

.editor-particle{
   cursor: pointer; 
   border: 1px solid #dddddeDD;
}

.component-wrapper{
     border:1px solid transparent;
     transition: 0.2s ease;
}

.component-wrapper:hover{
     border: 1px solid rgba(255, 0, 0, 0.386);
     transition: 0.2 ease;
}

.component-wrapper.component-hovered{
     border: 1px solid rgba(255, 0, 0, 0.386);
     transition: 0.2 ease;
}

.toolbar-header{
     background: #555;
     color: white;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
     transition: 0.2 ease background;
}

.toolbar-header:hover{
     background: #444;
     cursor: move;
     transition: 0.2 ease background;
}

.toolbar{
     background:     #333;
     border-radius: 10px;
     color:          #DDD;
     display:        flex;
     flex-direction: column;
     min-width:      300px;
     max-width:      500px;      
     position:       fixed;
     transition: 0.2s ease box-shadow;
     transform: scale(0.95);
     z-index: 500;
}

.toolbar.active{
     transition: 0.2s ease box-shadow;
     transform: scale(0.98);
     z-index: 1000;
     box-shadow: 20px 18px 31px 3px rgba(0,0,0,0.3);
}

.toolbar.dragged{
     transition: 0.2s ease box-shadow;
     transform: scale(1);
     z-index: 1000;
     box-shadow: 20px 18px 31px 3px rgba(0,0,0,0.3);
}


